			.header{
				background-color:white;
				text-align:center;
				font-family:Arial, sans serif;
				margin:-8px;
				height:50vh;
				width:97.5vw;
				margin:auto;
			}

			.vertical-nav{
				width:100px;
				float:left;
			}

			.vertical-nav a{
				background-color:white;
				display: block;
				padding:12px;
				margin-left:-5px;
				text-decoration:none;
			}

			.vertical-nav a:hover{
				background-color:rgb(209,209,209);
			}

			.vertical-nav a.current-page{
				background-color:black;
				color:white;
			}

			.footer{
				clear:both;
				background-color:grey;
				height:20vh;
