			.header{
				text-align:center;
				font-family:Arial, sans serif;
				font-size: 4em;
				margin:-8px;
				height:40vh;
				line-height:40vh;
				margin:auto;
				margin-bottom:10px;
				border: 2px solid black;
			}

			.vertical-nav{
				width:150px;
				float:left;
				border: 2px solid black;
				margin-right:10px;
			}

			.vertical-nav a{
				background-color:white;
				display: block;
				padding:12px;
				text-decoration:none;
			}

			.vertical-nav a:hover{
				background-color:rgb(209,209,209);
			}

			.vertical-nav a.current-page{
				background-color:black;
				color:white;
			}

			.footer{
				clear:both;
				background-color:rgba(81,81,81,0.7);
				height:20vh;
				border: 2px solid black;